body, html {
    background-color: lightgoldenrodyellow;
}

h1 {
    text-align: center;
}

img {
    height: 15%;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h2{
    text-align: center;
}

.create-form{
    text-align: center;
}

